.layout {
  &.plr-100 {
    padding-left:  100px;
    padding-right: 100px;
  }

  &.pl-100 {
    padding-left:  100px;
  }

  &.pr-100 {
    padding-right: 100px;
  }

  &.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
  }


  @media ( max-width: 767px ) {
    &.plr-100 {
      padding-left:  0px;
      padding-right: 0px;
    }

    &.pl-100 {
      padding-left:  0px;
    }

    &.pr-100 {
      padding-right: 0px;
    }
  }
}

