.theme.modificators.colors {
  &.links-color-1 {
    transition: all 0.5s;
  }
  &.links-color-1:hover {
    fill: $color-2-layout;
    color: $color-2-layout;
  }

  &.links-color-2 {
    transition: all 0.5s;
    fill:  $color-2-layout;
    color: $color-2-layout;
  }
  &.links-color-2:hover {
    fill:  $color-6-layout;
    color: $color-6-layout;
  }

  &.links-color-2--inheritage a {
    transition: all 0.5s;
    fill:  $color-2-layout;
    color: $color-2-layout;
  }
  &.links-color-2--inheritage a:hover {
    fill:  $color-6-layout;
    color: $color-6-layout;
  }




  &.buttons-color-1 {
    transition: all 0.5s;
  }
  &.buttons-color-1:hover {
    fill: $color-2-layout;
    color: $color-2-layout;
  }
  
  &.color-5 {
    color: $color-5-layout;
  }

  &.color-11 {
    color: $color-11-layout;
  }


  &.background-color-5 {
    background-color: $color-5-layout;
  }
}

