.layout {
  &.sections {

  }

  &.sections--first {
    padding-top: 100px;
  }
  &.sections--nth {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &.sections--last {
    padding-bottom: 100px;
  }
}