.idea/


node_modules/


.sass-cache/


build/**/*.*
!build/wp-content/themes/nango-company/**/*.*

build/wp-content/themes/nango-company/sources/theme/fonts/**/*.*
build/wp-content/themes/nango-company/sources/theme/images/**/*.*
build/wp-content/themes/nango-company/sources/theme/styles/**/*.*
build/wp-content/themes/nango-company/sources/theme/video/**/*.*



build/wp-content/themes/nango-company/sources/vendor/**/*.*


source/styles/styles/*.scss


wp-settings.md
git-commits.md
grid.md