.idea/


node_modules/


.sass-cache/


build/*.*
build/wp-admin/**/*.*
build/wp-includes/**/*.*
build/wp-content/**/*.*
build/wp-content/plugins/**/*.*
build/wp-content/themes/*.*



build/wp-content/themes/nango-company/sources/theme/fonts/**/*.*
build/wp-content/themes/nango-company/sources/theme/images/**/*.*
build/wp-content/themes/nango-company/sources/theme/styles/**/*.*


build/wp-content/themes/nango-company/sources/vendor/**/*.*


!build/wp-content/themes/nango-company/*.*


wp-settings.txt
git-commits.txt