.theme.components.template-parts.logos {
  /*Colors settings*/
  &.logo-1 {
    fill: $color-1-layout;
    color: $color-1-layout;
  }
  &.logo-1:hover {
    fill: $color-2-layout;
    color: $color-2-layout;
  }
  /*Colors settings*/
}