.theme.components.posts {
  &.post-1 {
    position: relative;
    overflow: hidden;

    .post-1 {
      &__image-wrapper {

      }
      &__image {

      }

      &__hover-block {
        opacity: 0;
        transform: translate( 0, -100% );

        position: absolute;
        @include absolute_alignment();

        .hover-block__image {
          @include absolute_alignment();
        }
        .hover-block__mask {
          @include absolute_alignment();
        }
        .hover-block__text {
          @include absolute_alignment();
          color: $color-5-layout;
        }
      }
    }
  }
}