.theme.components.sidebars.sidebar-1 {
  .sidebar-1__grid {
    margin-left:  -7.5px;
    margin-right: -7.5px;

    .col {
      padding-left:  7.5px;
      padding-right: 7.5px;
      margin-bottom: 15px;
    }
  }
}