.theme.components.template-parts.sections.section-portfolio-1 {
  .section-portfolio-1__gallery {
    margin-top:     60px;
    margin-bottom: -45px;
  }

  .section-portfolio-1__gallery-cols {
    margin-bottom: 45px;
  }

  .section-portfolio-1__gallery-cols:nth-child( 2n + 1 ) {
    /*
    0   2x0 + 1 = 1
    1   2x1 + 1 = 3
    */
    padding-right: 32.5px;
  }

  .section-portfolio-1__gallery-cols:nth-child( 2n + 2 ) {
    /*
    0   2x0 + 2 = 2
    1   2x1 + 2 = 4
    */
    padding-left: 32.5px;
  }


  .section-portfolio-1__gallery-image {
    height: 120px;
  }

  .section-portfolio-1__gallery-item-title {
    margin-top:    10px;
    margin-bottom: 5px;
  }

  .section-portfolio-1__button {
    margin-top: 45px;
  }
}