.theme.components.template-parts.page-blog-single {
  .page-blog-single {
    &__post-image {
      height: 550px;
      margin-top: 50px;
      margin-bottom: 75px;
    }

    &__post-footer {
      margin-top: 50px;
    }
  }


}