.theme.modificators.images {

  &.image--max-dimension {
    max-width: 100%;
    max-height: 100%;
  }

  &.image--max-height {
    max-height: 100%;
  }

  &.image--max-width {
    max-width: 100%;
  }

  &.image--full-width {
    width: 100%;
  }

}