.theme.components.containers {
  &.absolute-container {
    position: absolute;
  }
  &.relative-container {
    position: relative;
  }

  &.block-container {
    display: block;
  }

  &.inline-block-container {
    display: inline-block;
  }


}


