.theme.components.lists.list-1 {
  .item {
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 15px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $color-9-layout;

    &__text,
    &__value {

    }
    &__subelement {
      flex-grow: 1;
    }
  }

  .item.baseline {
    align-items: baseline;

    &__subelement {
      flex-grow: 1;
      height: 5px;
    }
  }
}




.theme.components.lists.item-list-1 {

}